@tailwind base;
@tailwind components;
@tailwind utilities;

.text-custom-color {
  color: #4d4d4d;
}

.text-custom-color1 {
  color: #414f6b;
}

.text-custom-color2{
  color:#687894;
}

.back-custom{
  background-color: #414f6b;
}
